@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Display", sans-serif;

  scrollbar-width: auto;
  scrollbar-color: #535c6c #687387;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #687387;
}

*::-webkit-scrollbar-thumb {
  background-color: #535c6c;

  border-radius: 50px;
  border: 0px none #ffffff;
}
